body::before {
    background: url(../images/rocketfuckkato.png) no-repeat center;/* 擬似要素に背景画像 */
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }

.amidc-logo {
    width: 35%;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
}

.cp_cont {
    text-align: center;
    bottom: 5vh;
    font-family: "Gill Sans", sans-serif;
	}

.cp_anime14 .text1 {
	font-size: 1.5em;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid #414042;
    padding-bottom: 7px;
}
.cp_anime14 .text2 {
	font-size: 1.3em;
	margin-bottom: 5px;
}
.cp_anime14 .text3 {
	font-size: 1.1em;
	margin-bottom: 50px;
}
