@charset "utf-8";
* {
box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: white; */
    letter-spacing : 0.2em;
    animation-name:fadeInAnime;
    /* animation-duration:3.0s; */
    animation-fill-mode:forwards;
    opacity:0;
}

/*メインビジュアル*/
.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
    min-height: 68vh;
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual.png);

}

/*動画*/
.movie iframe{
    width: 100%;
}

/*スケジュール*/
.schedule{
    width:100%;
}

.schedule .day-title{
    font-size: 14px;
    font-family: sans-serif;
}

.schedule .time_table{
    font-size: 150%;
    position: relative;
    margin-bottom: 12vh;
    text-align: center;
    font-family: "Trebuchet MS";
    border-bottom: 1px solid #414042;
    padding-bottom: 3px;
}

.schedule .container{
    max-width:1000px;
    margin:0px auto;
    padding:25vh 20px;
}
body::before {
    background: url(../images/himejijou4.png) no-repeat center;
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }

.schedule .bookmark_title{
    font-size : 120%;
    line-height : 1;
    margin: 0 calc(50% - 50vw);
    text-align: center;
}

/*しおり表示*/
.bookmark .container{
    max-width:1000px;
    margin:0px auto;
    padding:25vh 20px;
    border-top: 10px solid #414042;
    background-size: cover;
    background-position: center;
    background-image: url(../images/uzushio3.jpg);
}
.bookmark .book_mark{
    font-size: 150%;
    position: relative;
    margin-bottom: 12vh;
    text-align: center;
    font-family: "Trebuchet MS";
    border-bottom: 1px solid #414042;
    padding-bottom: 3px;
}

/*部屋割り*/
.hotel_room .container{
    max-width:1000px;
    margin:0px auto;
    padding:15vh 20px;
    border-top: 10px solid #414042;
    background-size: cover;
    background-position: center;
    background-image: url(../images/daiyamonndo.png);
}

.hotel_room .hotel{
    font-size: 150%;
    position: relative;
    margin-bottom: 10vh;
    text-align: center;
    font-family: "Trebuchet MS";
    border-bottom: 1px solid #414042;
    padding-bottom: 3px;
}
.hotel_room .content{
    text-align: center;
}
.hotel_room .select_room{
    width: 20vh;
    height: 3vh;
    position: relative;
    margin-bottom: 12vh;
    font-size: 15px;
    border-radius: 2vh;
    border: black 10px;
    background-color: whtie;
    border: 2px solid black;
}



#cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    width: 30%;
}

.card:nth-child(2) {
    margin-right: 12px;
    margin-left: 12px;
}
.picture {
    padding: 5px 0px 0px 0px;
}
.picture img {
    width: 100%;
}
.description p {
    font-size: 12px;
    text-align: center;
    color: #414042;
}

/*フッター*/
.footer02 {
    color: black;
    background: black;
    text-align: center;
    padding: 30px;
   }
   .footer02 img{
       width: 40%;
       padding: 3px;
   }
   .footer02 a {
    color: whtie;
    text-decoration: none;
   }
   .footer02 a:hover {
    text-decoration: underline;
   }
   .footer02 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   .footer02 .menu li {
    font-size: 12px;
    margin: 0;
    padding: 0 10px;
   }
   .footer02 .copyright {
    color: white;
    font-size: 6px;
    margin: 0;
    padding: 20px 0 0 0;
   }

/*アナウンス*/
.announce{
    letter-spacing: 0em;
 }

 .n-category{
    font-size:15px
 }
 .n-title{
    font-size:30px;
 }
 .entry-label {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 6px;
    color: #fff;
 }
 .c-more{
    color:blue;
 }
.naka{
  padding:0px;
}
#title{
  color:black;
  font-size:27px;
  text-decoration: underline
}
#title2{
  color:black;
  font-size:10px;
}