@charset "utf-8";
* {
box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: white; */
    letter-spacing : 0.2em;
    animation-name:fadeInAnime;
    /* animation-duration:3.0s; */
    animation-fill-mode:forwards;
    opacity:0;
}

.osirase {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
/* .top-image {
    position: relative;
  } */
.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    min-height: 80vh;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-image: url(../images/topimage.jpg);

}
.top-image .douga{
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    max-width: 70%;
    margin: 0 calc(50% - 50vw);
    margin-right: auto;
    margin-left: auto;
    margin-top: 330px;
}

.movie .container{
    max-width:1000px;
    margin:0px auto;
    padding:20px 20px;
    text-align: center;
    background-color: #414042;
}

.movie .douga{
    width: 70%;
}
.schedule{
    width:100%;
}
.schedule .day-title{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.schedule .time_table{
    font-size: 150%;
    position: relative;
    margin-bottom: 12vh;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    border-bottom: 1px solid #414042;
    padding-bottom: 3px;
}

.schedule .schedule_title{
    font-size : 120%;
    line-height : 1;
    margin: 0 calc(50% - 50vw);
    text-align: center;
}

.schedule .container{
    max-width:1000px;
    margin:0px auto;
    padding:25vh 20px;
}
body::before {
    background: url(../images/himejijou4.png) no-repeat center;/* 擬似要素に背景画像 */
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }

.schedule .bookmark_title{
    font-size : 150%;
    line-height : 1;
    margin: 0 calc(50% - 50vw);
    text-align: center;
}

.bookmark .container{
    max-width:1000px;
    margin:0px auto;
    padding:25vh 20px;
    border-top: 15px solid #414042;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-image: url(../images/uzushio2.jpg);
}

.bookmark .book_mark{
    font-size: 150%;
    position: relative;
    margin-bottom: 12vh;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    border-bottom: 1px solid #414042;
    padding-bottom: 3px;
}
.bookmark .bookmark_logo{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

#cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    width: 30%;
}

.card:nth-child(2) {
    margin-right: 12px;
    margin-left: 12px;
}
.picture {
    padding: 5px 0px 0px 0px;
}
.picture img {
    width: 100%;
}



.description p {
    font-size: 12px;
    text-align: center;
    color: #414042;
}


.schedule .schedule1{
    width: 100%;
}

.footer {
    background: black;
    padding: 30px;
    text-align: center;
}
.footer .copyright{
    text-align: center;
    color: white;
    font-size: 7px;
    font-family: sans-serif;
}
.footer .login{
    text-align: center;
    color: white;
    font-size: 7px;
    font-family: sans-serif;
}

.announce{
    letter-spacing: 0em;
 }

 .n-category{
    font-size:15px
 }
 .n-title{
    font-size:30px;
 }
 .entry-label {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 6px;
    color: #fff;
 }
 .c-more{
    color:blue;
 }
.naka{
  padding:0px;
}
#title{
  color:black;
  font-size:27px;
  text-decoration: underline
}
#title2{
  color:black;
  font-size:10px;
}

