.n-category{
    font-size:15px
  }
  .n-title{
    font-size:30px;
  }
  .entry-label {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 6px;
    color: #fff;
  }
  .c-more{
    color:blue;
  }
  #return{
      color: blue;
  }